#mainPane{
	-fx-background-image: url("pictures/background.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
#startgame:hover{
	-fx-border-width: 2;
    	-fx-border-color: #000000;

}