#background{
	-fx-background-image: url("/View/pictures/background.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
.scroll-pane .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: "#AFC898";
}
