#background{
	-fx-background-image: url("pictures/background.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
.scroll-pane .viewport {
    -fx-background-image: url('pictures/background.png');
}